.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url("/loginBackground.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.login-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.login-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-input {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.login-button {
  background-color: blue !important;
  color: white !important;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

.forgot-password {
  color: white;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.loading-backdrop {
  z-index: 99999999 !important;
  background-color: rgb(255, 253, 253) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.loading-image {
  width: 65px;
  height: 65px;
  background: url("/loading.gif") no-repeat center center;
  background-size: contain;
  animation: wheel-spin 2.7s infinite ease-in-out;
}

@keyframes wheel-spin {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.hide-content {
  display: none;
}
